src/main/app/atnasend.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:ssl="http://www.mulesoft.org/schema/mule/ssl" xmlns:udp="http://www.mulesoft.org/schema/mule/udp" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core" version="EE-3.4.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd 
http://www.mulesoft.org/schema/mule/ssl http://www.mulesoft.org/schema/mule/ssl/current/mule-ssl.xsd 
http://www.mulesoft.org/schema/mule/udp http://www.mulesoft.org/schema/mule/udp/current/mule-udp.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd ">
    <ssl:connector name="SSL__TLS_" validateConnections="true" sendBufferSize="0" receiveBufferSize="0" receiveBacklog="0" clientSoTimeout="10000" serverSoTimeout="10000" socketSoLinger="0" doc:name="SSL (TLS)">
        <ssl:client path="${atna.keystore}" storePassword="${atna.storepassword}"/>
        <ssl:key-store path="${atna.keystore}" keyPassword="${atna.keypassword}" storePassword="${atna.storepassword}"/>
    </ssl:connector>
    <flow name="atnasendFlow1" doc:name="atnasendFlow1">
        <vm:inbound-endpoint exchange-pattern="one-way" path="atna_auditing" doc:name="ATNA Auditing Queue"/>
        <logger message="The ATNA message logged: #[groovy: message.getPayloadAsString();]" level="INFO" doc:name="Logger"/>
        <choice doc:name="Choice">
            <when expression="#[groovy: return ${atna.useTls};]">
                <ssl:outbound-endpoint host="${atna.host}" port="${atna.tlsPort}" responseTimeout="10000" connector-ref="SSL__TLS_" doc:name="SSL (TLS)"/>
            </when>
            <otherwise>
                <udp:outbound-endpoint host="${atna.host}" port="${atna.udpPort}" responseTimeout="10000" doc:name="UDP"/>
            </otherwise>
        </choice>
    </flow>
</mule>
