src/main/app/createpatientinshr-denormalization-mockserviceprovider.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="CE-3.2.1" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd ">
    <flow name="mediation-cretepatientinshr-denormalization-mockserviceproviderFlow1" doc:name="mediation-cretepatientinshr-denormalization-mockserviceproviderFlow1">
        <vm:inbound-endpoint exchange-pattern="request-response" path="createPatientInSHRDe-NormalizationQueue" responseTimeout="10000" mimeType="text/plain" doc:name="VM"/>
        <logger message="In createpatientinshr de-normalization" level="INFO" doc:name="Logger"/>
        <echo-component doc:name="Echo"/>
        <message-properties-transformer scope="session" doc:name="Store current payload">
            <add-message-property key="original_payload" value="#[groovy: return message.payload;]"/>
        </message-properties-transformer>
        <response>
            <expression-transformer evaluator="groovy" expression="message.payload = message.getSessionProperty('original_payload');" doc:name="Restore original message"/>
            <logger message="Exiting createpatientinshr de-normalization #[groovy: message.toString()]" level="INFO" doc:name="Logger"/>
        </response>
        <component class="org.jembi.rhea.orchestration.ADT_A28RequestConstructor" doc:name="Construct ADT_A28 request"/>
        <echo-component doc:name="Echo"/>
        <message-properties-transformer doc:name="Set Path Property">
            <add-message-property key="path" value="#[groovy: return message.payload.buildUrlWithRequestParams();]"/>
        </message-properties-transformer>
        <expression-transformer evaluator="groovy" expression="return message.payload.body;" doc:name="Transfor HTTPRestfulMessage to HTTP Body"/>
        <http:outbound-endpoint exchange-pattern="request-response" host="localhost" port="8003" path="#[header:OUTBOUND:path]" doc:name="Deliver message to mock service provider"/>
    </flow>
</mule>
