src/main/app/defaultchannel.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core" version="EE-3.4.1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    <flow name="defaultchannelFlow1" doc:name="defaultchannelFlow1">
        <vm:inbound-endpoint exchange-pattern="request-response" path="defaultChannel-Generic-NormalizationQueue" doc:name="VM"/>
        <component class="org.jembi.openhim.DefaultChannelComponent" doc:name="Default Channel config"/>
        <custom-transformer class="org.jembi.openhim.transformers.RestfulHttpRequestToHttpRequestTransformer" doc:name="Request transformer"/>
        <logger message="Routing message with path #[header:OUTBOUND:path] to #[header:OUTBOUND:http.host]:#[header:OUTBOUND:http.port] using HTTP method #[header:OUTBOUND:http.method]" level="INFO" doc:name="Logger"/>
        <http:outbound-endpoint exchange-pattern="request-response" host="#[header:OUTBOUND:http.host]" port="#[header:OUTBOUND:http.port]" path="#[header:OUTBOUND:path]" doc:name="HTTP" method="POST" connector-ref="NoSessionConnector" responseTimeout="${default.channel.timeout}"/>
        <custom-transformer class="org.jembi.openhim.transformers.HttpResponseToRestfulHttpResponseTransformer" doc:name="Response transformer"/>
        <logger message="Returning response #[groovy: message.payload.toString();]" level="DEBUG" doc:name="Logger"/>
        <choice-exception-strategy doc:name="Choice Exception Strategy">
            <catch-exception-strategy when="#[exception.causedBy(org.jembi.openhim.exception.URLMappingNotFoundException)]" doc:name="Catch_Exception_Strategy">
                <logger message="URL Mapping could not be found for this message" level="ERROR" doc:name="Logger"/>
                <scripting:transformer doc:name="Groovy">
                    <scripting:script engine="Groovy"><![CDATA[import org.jembi.openhim.*;

RestfulHttpResponse res = new RestfulHttpResponse();
res.setHttpStatus(500);
res.setBody("URL Mapping could not be found for this message");

return res;]]></scripting:script>
                </scripting:transformer>
            </catch-exception-strategy>
            <catch-exception-strategy doc:name="Catch_Exception_Strategy">
                <logger message="Exception occured in default channel #[groovy: exception.getMessage();]" level="ERROR" doc:name="Logger"/>
                <scripting:transformer doc:name="Groovy">
                    <scripting:script engine="Groovy"><![CDATA[import org.jembi.openhim.*;

RestfulHttpResponse res = new RestfulHttpResponse();
res.setHttpStatus(500);
res.setBody("A server error occured: " + exception.getMessage());

return res;]]></scripting:script>
                </scripting:transformer>
            </catch-exception-strategy>
        </choice-exception-strategy>
    </flow>
</mule>
