src/main/app/getecid-denormalization-openempi.xml
<?xml version="1.0" encoding="UTF-8"?>
<!-- This Source Code Form is subject to the terms of the Mozilla Public 
	- License, v. 2.0. If a copy of the MPL was not distributed with this - file, 
	You can obtain one at http://mozilla.org/MPL/2.0/. -->
<mule xmlns:context="http://www.springframework.org/schema/context"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="CE-3.4.0"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	<context:property-placeholder
		xmlns:context="http://www.springframework.org/schema/context"
		location="classpath:HIM-core.properties, classpath:HIM-core-override.properties"></context:property-placeholder>
	<flow name="mediation-getecid-denormalization-openempiFlow1"
		doc:name="mediation-getecid-denormalization-openempiFlow1">
		<vm:inbound-endpoint exchange-pattern="request-response"
			path="getecid-openempi" responseTimeout="10000" mimeType="text/plain"
			doc:name="VM" />
		<logger message="In getecid de-normalization #[groovy: message.toString()]"
			level="INFO" doc:name="Logger" />
		<scripting:transformer doc:name="Off-ramp transformer">
			<scripting:script engine="Groovy">
				<scripting:text><![CDATA[String id = message.payload.get("id");
String idType = message.payload.get("idType");

String body = "";
body += "<personIdentifier>\n";
body += "    <identifier>" + id + "</identifier>\n";
body += "    <identifierDomain>\n";
body += "       <universalIdentifier>" + idType + "</universalIdentifier>\n";
body += "       <universalIdentifierTypeCode>" + idType + "</universalIdentifierTypeCode>\n";
body += "    </identifierDomain>\n";
body += "</personIdentifier>\n";
return body;]]></scripting:text>
			</scripting:script>
		</scripting:transformer>
		<message-properties-transformer
			doc:name="Message Properties">
			<add-message-property key="OPENEMPI_SESSION_KEY"
				value="${openempi.sessionkey}" />
		</message-properties-transformer>
		<response>
			<echo-component doc:name="Echo" />
			<mulexml:xslt-transformer
				maxIdleTransformers="2" maxActiveTransformers="5"
				xsl-file="xslt/OpenEMPI-person-to-ECID.xsl" doc:name="On-ramp transformer XSLT" />
			<choice doc:name="Choice">
				<when expression="message.getInboundProperty('http.status').equals('200')"
					evaluator="groovy">
					<processor-chain doc:name="Processor Chain">
						<message-properties-transformer
							doc:name="Set transaction success">
							<add-message-property key="success" value="true" />
						</message-properties-transformer>
					</processor-chain>
				</when>
				<otherwise>
					<processor-chain doc:name="Processor Chain">
						<message-properties-transformer
							doc:name="Set transaction success">
							<add-message-property key="success" value="false" />
						</message-properties-transformer>
					</processor-chain>
				</otherwise>
			</choice>
			<logger
				message="Exitting getecid de-normalization #[groovy: message.toString()]"
				level="INFO" doc:name="Logger" />
		</response>
		<http:outbound-endpoint exchange-pattern="request-response"
			host="${cr.host}" port="${cr.port}"
			path="openempi-admin/openempi-ws-rest/person-query-resource/findPersonById"
			mimeType="application/xml" doc:name="HTTP" />
		<catch-exception-strategy doc:name="Catch Exception Strategy">
			<processor-chain doc:name="Processor Chain">
				<message-properties-transformer
					doc:name="Set transaction success">
					<add-message-property key="success" value="false" />
				</message-properties-transformer>
			</processor-chain>
		</catch-exception-strategy>
	</flow>
</mule>
