src/main/app/getepid-denormalization-mockserviceprovider.xml
<?xml version="1.0" encoding="UTF-8"?>
<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core" version="CE-3.2.1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd ">
    <flow name="mediation-getepid-denormalization-mockserviceproviderFlow1" doc:name="mediation-getepid-denormalization-mockserviceproviderFlow1">
        <vm:inbound-endpoint exchange-pattern="request-response" path="getepid" responseTimeout="10000" mimeType="text/plain" doc:name="VM"/>
        <logger message="In getepid de-normalization #[groovy: message.toString()]" level="INFO" doc:name="Logger"/>
        <response>
            <choice doc:name="Choice">
                <when expression="message.getInboundProperty('http.status').equals('200')" evaluator="groovy">
                    <processor-chain>
                        <message-properties-transformer doc:name="Set transaction success">
                            <add-message-property key="success" value="true"/>
                        </message-properties-transformer>
                    </processor-chain>
                </when>
                <otherwise>
                    <processor-chain>
                        <message-properties-transformer doc:name="Set transaction success">
                            <add-message-property key="success" value="false"/>
                        </message-properties-transformer>
                    </processor-chain>
                </otherwise>
            </choice>
            <logger message="Exitting getepid de-normalization #[groovy: message.toString()]" level="INFO" doc:name="Logger"/>
        </response>
        <http:outbound-endpoint exchange-pattern="request-response" host="localhost" port="8001" path="ws/rest/v1/professional/#[groovy: return message.payload.get('idType')]-#[groovy: return message.payload.get('id')]/epid" method="GET" doc:name="HTTP"/>
    </flow>
</mule>
