src/main/app/getecid-denormalization-pix.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ssl="http://www.mulesoft.org/schema/mule/ssl" xmlns:context="http://www.springframework.org/schema/context" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core" version="CE-3.3.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd 
http://www.mulesoft.org/schema/mule/ssl http://www.mulesoft.org/schema/mule/ssl/current/mule-ssl.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd 
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd ">
    <context:property-placeholder xmlns:context="http://www.springframework.org/schema/context" location="classpath:HIM-core.properties, classpath:HIM-core-override.properties"></context:property-placeholder>
    <flow name="mediation-getecid-denormalization-pix" doc:name="mediation-getecid-denormalization-pix">
        <vm:inbound-endpoint exchange-pattern="request-response" path="getecid-pix" responseTimeout="10000" mimeType="text/plain" doc:name="VM"/>
        <logger message="In getecid de-normalization #[groovy: message.toString()]" level="INFO" doc:name="Logger"/>
        <component doc:name="Java"/>
        <response>
            <echo-component doc:name="Echo"/>
            <component doc:name="Java"/>
            <choice doc:name="Choice">
                <when expression="message.getInboundProperty('http.status').equals('200')">
                    <processor-chain>
                        <message-properties-transformer doc:name="Set transaction success">
                            <add-message-property key="success" value="true"/>
                        </message-properties-transformer>
                    </processor-chain>
                </when>
                <otherwise>
                    <processor-chain>
                        <message-properties-transformer doc:name="Set transaction success">
                            <add-message-property key="success" value="false"/>
                        </message-properties-transformer>
                    </processor-chain>
                </otherwise>
            </choice>
            <logger message="Exitting getecid de-normalization #[groovy: message.toString()]" level="INFO" doc:name="Logger"/>
        </response>
        <ssl:outbound-endpoint host="localhost" port="80" responseTimeout="10000" doc:name="SSL (TLS)" exchange-pattern="request-response"/>
    </flow>
</mule>
