src/main/app/getecid-demornalization.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd ">
    <flow name="getecid-demornalizationFlow1" doc:name="getecid-demornalizationFlow1">
        <vm:inbound-endpoint exchange-pattern="request-response" path="getecid" doc:name="VM"/>
        <response>
        	<message-properties-transformer doc:name="Copy success message property to outbound" overwrite="true" scope="outbound">
                <add-message-property key="success" value="#[header:INBOUND:success]"/>
            </message-properties-transformer>
        </response>
        <choice doc:name="Choice">
            <when expression="#[groovy: return ${ihe.enablePIX};]">
                <logger message="Sending getecid message for PIX de-normalization" level="INFO" doc:name="Sending getecid message for PIX de-normalization"/>
                <vm:outbound-endpoint exchange-pattern="request-response" path="getecid-pix" doc:name="VM"/>
            </when>
            <when expression="">
                <logger message="Sending getecid message for MOCK de-normalization" level="INFO" doc:name="Sending getecid message for MOCK de-normalization"/>
                <vm:outbound-endpoint exchange-pattern="request-response" path="getecid-mock" doc:name="VM"/>
            </when>
            <otherwise>
                <logger message="Sending getecid message for OpenEMPI-ws de-normalization" level="INFO" doc:name="Sending getecid message for OpenEMPI-ws de-normalization"/>
                <vm:outbound-endpoint exchange-pattern="request-response" path="getecid-openempi" doc:name="VM"/>
            </otherwise>
        </choice>
        
    </flow>
</mule>
