src/main/app/getfacility-denormalization-resourcemap.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="CE-3.2.1" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd 
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd ">
	<context:property-placeholder xmlns:context="http://www.springframework.org/schema/context" location="classpath:HIM-core.properties, classpath:HIM-core-override.properties"></context:property-placeholder>
    <flow name="mediation-denormalization-getfacility-resourcemapFlow" doc:name="mediation-denormalization-getfacility-resourcemapFlow">
        <vm:inbound-endpoint exchange-pattern="request-response" path="getFacility-De-normailization-ResourceMap" responseTimeout="10000" mimeType="text/plain" doc:name="Read from queue"/>
        <logger message="De-normalizing a get facility transaction to resource map" level="INFO" doc:name="Logger"/>
        <custom-transformer class="org.jembi.rhea.transformers.GetFacilityResourceMapOffRampTransformer" doc:name="Off-ramp Transformer"/>
        <message-properties-transformer doc:name="Message Properties">
            <add-message-property key="Authorization" value="${fr.auth}"/>
        </message-properties-transformer>
        <response>
            <logger message="Recieved responce from mock service provider: #[groovy: message.toString();]]" level="INFO" doc:name="Logger"/>
            <mulexml:xslt-transformer maxIdleTransformers="2" maxActiveTransformers="5" xsl-file="xslt/ResMap-rss-to-rhea-custom.xsl" doc:name="On-ramp Transformer - XSLT"/>
            <logger message="After on-ramp transformation: #[groovy: message.toString();]]" level="INFO" doc:name="Logger"/>
            <custom-transformer class="org.jembi.rhea.transformers.HttpResponseToRestfulHttpResponseTransformer" doc:name="HttpResponseToRestfulHttpResponseTransformer"/>
            <logger message="Responce normalization" level="INFO" doc:name="Logger"/>
            <choice doc:name="Choice">
                <when expression="message.payload.body.equals('&lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-8&quot;?&gt;');" evaluator="groovy">
                    <processor-chain>
                        <logger message="Empty responce recieved" level="INFO" doc:name="Logger"/>
                        <scripting:transformer doc:name="Groovy">
                            <scripting:script engine="Groovy">
                                <scripting:text><![CDATA[message.getPayload().setBody("");
message.getPayload().setHttpStatus(404);
return message;]]></scripting:text>
                            </scripting:script>
                        </scripting:transformer>
                        <echo-component doc:name="Echo"/>
                    </processor-chain>
                </when>
                <otherwise>
                    <processor-chain>
                        <logger message="Normal responce received continue..." level="INFO" doc:name="Logger"/>
                    </processor-chain>
                </otherwise>
            </choice>
            <custom-transformer class="org.jembi.heal.DoNothingTransformer" doc:name="Translation Transformer"/>
        </response>
        <http:outbound-endpoint exchange-pattern="request-response" host="${fr.host}" port="${fr.port}" path="#[groovy: message.payload.buildUrlWithRequestParams();]" method="GET" doc:name="Deliver message to mock service provider"/>
    </flow>
</mule>
