src/main/app/getnid-denormalization-openldap.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="CE-3.2.1" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd ">
	<context:property-placeholder xmlns:context="http://www.springframework.org/schema/context" location="classpath:HIM-core.properties, classpath:HIM-core-override.properties"></context:property-placeholder>
    <flow name="mediation-getnid-denormalization-openldapFlow1" doc:name="mediation-getnid-denormalization-openldapFlow1">
        <vm:inbound-endpoint exchange-pattern="request-response" path="getnid-openldap" responseTimeout="10000" mimeType="text/plain" doc:name="VM"/>
        <logger message="In getnid de-normalization for OpenLDAP #[groovy: message.toString()]" level="INFO" doc:name="Logger"/>
        <logger message="Length: #[groovy: message.getPayloadAsString().length()]" level="INFO" doc:name="Logger"/>
        <response>
            <choice doc:name="Choice">
                <when expression="message.getInboundProperty('http.status').equals('200') &amp;&amp; (message.getPayloadAsString().length() &gt; 0)" evaluator="groovy">
                    <processor-chain>
                        <message-properties-transformer doc:name="Set transaction success">
                            <add-message-property key="success" value="true"/>
                        </message-properties-transformer>
                    </processor-chain>
                </when>
                <otherwise>
                    <processor-chain>
                        <message-properties-transformer doc:name="Set transaction success">
                            <add-message-property key="success" value="false"/>
                        </message-properties-transformer>
                    </processor-chain>
                </otherwise>
            </choice>
            <logger message="Exitting getnid de-normalization for OpenLDAP #[groovy: message.toString()]" level="INFO" doc:name="Logger"/>
        </response>
        <http:outbound-endpoint exchange-pattern="request-response" host="${pr.host}" port="${pr.port}" path="webservices/lookupbyid/nid/?id_type=#[groovy: return message.payload.get('idType')]&amp;id_number=#[groovy: return message.payload.get('id')]" method="GET" doc:name="HTTP"/>
    </flow>
</mule>
