src/main/app/getpatient-denormalization-openempi.xml
<?xml version="1.0" encoding="UTF-8"?>
<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="CE-3.2.1" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd 
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd ">
	<context:property-placeholder xmlns:context="http://www.springframework.org/schema/context" location="classpath:HIM-core.properties, classpath:HIM-core-override.properties"></context:property-placeholder>
    <flow name="mediation-denormalization-getpatient-openempiFlow" doc:name="mediation-denormalization-getpatient-openempiFlow">
        <vm:inbound-endpoint exchange-pattern="request-response" path="getPatient-De-normailization-OpenEMPI" responseTimeout="10000" mimeType="text/plain" doc:name="Read from queue"/>
        <logger message="De-normalizing a get patient transaction to OpenEMPI" level="INFO" doc:name="Logger"/>
        <custom-transformer class="org.jembi.rhea.transformers.GetPatientOpenEMPIOffRampTransformer" doc:name="Off-ramp Transformer"/>
        <expression-transformer evaluator="groovy" expression="return message.payload.getBody();" doc:name="Expression"/>
        <message-properties-transformer doc:name="Message Properties">
            <add-message-property key="OPENEMPI_SESSION_KEY" value="${openempi.sessionkey}"/>
        </message-properties-transformer>
        <response>
            <logger message="Recieved responce from OpenEMPI: #[groovy: message.toString();] with payload: #[groovy: message.getPayloadAsString();]" level="INFO" doc:name="Logger"/>
            <choice doc:name="Choice">
                <when expression="message.getInboundProperty('http.status').equals('200')" evaluator="groovy">
                    <processor-chain>
                        <logger message="Performing XSLT transform" level="INFO" doc:name="Logger"/>
                        <mulexml:xslt-transformer maxIdleTransformers="2" maxActiveTransformers="5" xsl-file="xslt/OpenEMPI-person-to-ADT_A28.xsl" doc:name="On-ramp transformer - XSLT"/>
                    </processor-chain>
                </when>
                <otherwise>
                    <processor-chain>
                        <logger message="Response empty, skipping XSLT transform" level="INFO" doc:name="Logger"/>
                    </processor-chain>
                </otherwise>
            </choice>
            <custom-transformer class="org.jembi.rhea.transformers.HttpResponseToRestfulHttpResponseTransformer" doc:name="HttpResponseToRestfulHttpResponseTransformer"/>
            <scripting:transformer doc:name="Groovy">
                <scripting:script engine="Groovy">
                    <scripting:text><![CDATA[if (message.payload.httpStatus == 204) {
	message.payload.body = '';
	message.payload.httpStatus = 404;
}
return message;]]></scripting:text>
                </scripting:script>
            </scripting:transformer>
            <logger message="Responce normalization" level="INFO" doc:name="Logger"/>
            <custom-transformer class="org.jembi.heal.DoNothingTransformer" doc:name="Translation Transformer"/>
        </response>
        <http:outbound-endpoint exchange-pattern="request-response" host="${cr.host}" port="${cr.port}" path="openempi-admin/openempi-ws-rest/person-query-resource/findPersonById" mimeType="application/xml" responseTimeout="60000" doc:name="Deliver message to mock service provider"/>
    </flow>
</mule>
