src/main/app/mediation-queryfacilities-denormalization-mockserviceprovider.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="CE-3.2.1" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd ">
    <flow name="mediation-denormalization-getfacilities-mockserviceproviderFlow" doc:name="mediation-denormalization-getfacilities-mockserviceproviderFlow">
        <vm:inbound-endpoint exchange-pattern="request-response" path="queryFacilities-De-normailization-MockServiceProvider" responseTimeout="10000" mimeType="text/plain" doc:name="Read from queue"/>
        <logger message="De-normalizing a query facilities transaction to mock service provider" level="INFO" doc:name="Logger"/>
        <custom-transformer class="org.jembi.heal.DoNothingTransformer" doc:name="Off-ramp Transformer"/>
        <message-properties-transformer doc:name="Message Properties">
            <add-message-property key="path" value="#[groovy: return message.payload.buildUrlWithRequestParams();]"/>
        </message-properties-transformer>
        <logger message="Built path: #[header:outbound:path]" level="INFO" doc:name="Logger"/>
        <response>
            <logger message="Recieved responce from mock service provider: #[groovy: message.toString();]]" level="INFO" doc:name="Logger"/>
            <custom-transformer class="org.jembi.rhea.transformers.HttpResponseToRestfulHttpResponseTransformer" doc:name="HttpResponseToRestfulHttpResponseTransformer"/>
            <logger message="Responce normalization" level="INFO" doc:name="Logger"/>
            <custom-transformer class="org.jembi.heal.DoNothingTransformer" doc:name="On-ramp Transformer"/>
            <custom-transformer class="org.jembi.heal.DoNothingTransformer" doc:name="Validation Transformer"/>
            <custom-transformer class="org.jembi.heal.DoNothingTransformer" doc:name="Enrichment Tranformer"/>
            <custom-transformer class="org.jembi.heal.DoNothingTransformer" doc:name="Translation Transformer"/>
        </response>
        <http:outbound-endpoint exchange-pattern="request-response" host="localhost" port="8000" path="#[header:outbound:path]" method="GET" doc:name="Deliver message to mock service provider"/>
    </flow>
</mule>
