src/main/app/mediation-getecid-denormalization-mockserviceprovider.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="CE-3.2.1" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd ">
    <flow name="mediation-getecid-denormalization-mockserviceproviderFlow1" doc:name="mediation-getecid-denormalization-mockserviceproviderFlow1">
        <vm:inbound-endpoint exchange-pattern="request-response" path="getecid" responseTimeout="10000" mimeType="text/plain" doc:name="VM"/>
        <logger message="In getecid de-normalization" level="INFO" doc:name="Logger"/>
        <http:outbound-endpoint exchange-pattern="request-response" host="localhost" port="8002" path="ws/rest/v1/patient/#[groovy: return message.payload.get('idType')]-#[groovy: return message.payload.get('id')]/ecid" method="GET" doc:name="HTTP"/>
    </flow>
</mule>
