src/main/app/queryprofessionals-normalization-generic.xml
<?xml version="1.0" encoding="UTF-8"?>
<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core" version="CE-3.2.1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd ">
    <flow name="mediation-normalization-queryprofessionals-genericFlow" doc:name="mediation-normalization-queryprofessionals-genericFlow">
        <vm:inbound-endpoint exchange-pattern="request-response" path="queryProfessionals-Generic-NormalizationQueue" responseTimeout="10000" mimeType="text/plain" doc:name="Read from queue"/>
        <logger message="Normalizing a generic query for professionals transaction: #[groovy:return message.toString();] with payload #[groovy:return message.payload.toString();]" level="INFO" doc:name="Logger"/>
        <custom-transformer class="org.jembi.heal.DoNothingTransformer" doc:name="On-ramp Transformer"/>
        <custom-transformer class="org.jembi.heal.DoNothingTransformer" doc:name="Translation Transformer"/>
        <response>
            <logger message="Responce de-normalization" level="INFO" doc:name="Logger"/>
            <custom-transformer class="org.jembi.heal.DoNothingTransformer" doc:name="Off-ramp Transformer"/>
        </response>
        <vm:outbound-endpoint exchange-pattern="request-response" path="queryProfessionalsOrchestrationQueue" responseTimeout="10000" mimeType="text/plain" doc:name="Send to queryProfessionalsOrchestrationQueue"/>
    </flow>
</mule>
