src/main/app/querypatients-denormalization-openempi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="CE-3.2.1" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd ">
    <flow name="mediation-denormalization-querypatients-openempi" doc:name="mediation-denormalization-querypatients-openempi">
        <vm:inbound-endpoint exchange-pattern="request-response" path="queryPatients-De-normailization-OpenEMPI" responseTimeout="10000" mimeType="text/plain" doc:name="Read from queue"/>
        <logger message="De-normalizing a query patients transaction to mock service provider" level="INFO" doc:name="Logger"/>
        <custom-transformer class="org.jembi.rhea.transformers.QueryPatientsOpenEMPIOffRampTransformer" doc:name="Off-ramp Transformer"/>
        <expression-transformer evaluator="groovy" expression="return message.payload.getBody();" doc:name="Expression"/>
        <message-properties-transformer doc:name="Message Properties">
            <add-message-property key="OPENEMPI_SESSION_KEY" value="19598DBC81B09C2303E851AD660DBAF1"/>
        </message-properties-transformer>
        <logger message="Message body after transformation: #[groovy: message.payload.toString();]" level="INFO" doc:name="Logger"/>
        <response>
            <logger message="Recieved responce from openempi service provider: #[groovy: message.toString();]]" level="INFO" doc:name="Logger"/>
            <mulexml:xslt-transformer maxIdleTransformers="2" maxActiveTransformers="5" xsl-file="xslt/OpenEMPI-people-to-RSS-ADT_A28.xsl" doc:name="On-ramp transformation XSLT"/>
            <custom-transformer class="org.jembi.rhea.transformers.HttpResponseToRestfulHttpResponseTransformer" doc:name="HttpResponseToRestfulHttpResponseTransformer"/>
            <logger message="Responce normalization" level="INFO" doc:name="Logger"/>
            <custom-transformer class="org.jembi.heal.DoNothingTransformer" doc:name="Translation Transformer"/>
        </response>
        <http:outbound-endpoint exchange-pattern="request-response" host="ec2-50-19-146-97.compute-1.amazonaws.com" port="8080" path="openempi-admin/openempi-ws-rest/person-query-resource/findPersonsByAttributes" mimeType="application/xml" responseTimeout="60000" doc:name="Deliver message to mock service provider"/>
    </flow>
</mule>
