src/main/app/queryencounters-denormalization-mockserviceprovider.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core" version="CE-3.2.1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd ">
    <flow name="mediation-denormalization-queryencounters-mockserviceproviderFlow" doc:name="mediation-denormalization-queryencounters-mockserviceproviderFlow">
        <vm:inbound-endpoint exchange-pattern="request-response" path="queryEncounters-De-normailization-MockServiceProvider" responseTimeout="10000" mimeType="text/plain" doc:name="Read from queue"/>
        <logger message="De-normalizing a query encounters transaction to mock service provider" level="INFO" doc:name="Logger"/>
        <custom-transformer class="org.jembi.heal.DoNothingTransformer" doc:name="Off-ramp Transformer"/>
        <response>
            <logger message="Recieved responce from mock service provider: #[groovy: message.toString();]]" level="INFO" doc:name="Logger"/>
            <custom-transformer class="org.jembi.rhea.transformers.HttpResponseToRestfulHttpResponseTransformer" doc:name="HttpResponseToRestfulHttpResponseTransformer"/>
            <logger message="Responce normalization" level="INFO" doc:name="Logger"/>
            <custom-transformer class="org.jembi.heal.DoNothingTransformer" doc:name="On-ramp Transformer"/>
            <custom-transformer class="org.jembi.heal.DoNothingTransformer" doc:name="Validation Transformer"/>
            <custom-transformer class="org.jembi.heal.DoNothingTransformer" doc:name="Enrichment Tranformer"/>
            <custom-transformer class="org.jembi.heal.DoNothingTransformer" doc:name="Translation Transformer"/>
        </response>
        <http:outbound-endpoint exchange-pattern="request-response" host="localhost" port="8003" path="#[groovy: return message.payload.buildUrlWithRequestParams();]" method="GET" doc:name="Deliver message to mock service provider"/>
    </flow>
</mule>
