src/main/app/queryfacilities-normalization-generic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="CE-3.2.1" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd ">
    <flow name="mediation-normalization-queryfacilities-genericFlow" doc:name="mediation-normalization-queryfacilities-genericFlow">
        <vm:inbound-endpoint exchange-pattern="request-response" path="queryFacilities-Generic-NormalizationQueue" responseTimeout="10000" mimeType="text/plain" doc:name="Read from queue"/>
        <logger message="Normalizing a generic query for facilities transaction: #[groovy:return message.toString();] with payload #[groovy:return message.payload.toString();]" level="INFO" doc:name="Logger"/>
        <custom-transformer class="org.jembi.heal.DoNothingTransformer" doc:name="On-ramp Transformer"/>
        <custom-transformer class="org.jembi.heal.DoNothingTransformer" doc:name="Translation Transformer"/>
        <response>
            <logger message="Responce de-normalization" level="INFO" doc:name="Logger"/>
            <custom-transformer class="org.jembi.heal.DoNothingTransformer" doc:name="Off-ramp Transformer"/>
        </response>
        <vm:outbound-endpoint exchange-pattern="request-response" path="queryFacilitiesOrchestrationQueue" responseTimeout="10000" mimeType="text/plain" doc:name="Send to queryFacilitiesOrchestrationQueue"/>
    </flow>
</mule>
