src/main/app/receivealert-denormalization-rapidsms.xml
<?xml version="1.0" encoding="UTF-8"?>
<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<mule xmlns:context="http://www.springframework.org/schema/context" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="EE-3.4.0" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd ">
	<context:property-placeholder xmlns:context="http://www.springframework.org/schema/context" location="classpath:HIM-core.properties, classpath:HIM-core-override.properties"></context:property-placeholder>
    <flow name="mediation-denormalization-receivealert-rapidsmsFlow" doc:name="mediation-denormalization-receivealert-rapidsmsFlow">
        <vm:inbound-endpoint exchange-pattern="request-response" path="receiveAlert-De-normailization-RapidSMS" responseTimeout="10000" mimeType="text/plain" doc:name="Read from queue"/>
        <logger message="De-normalizing a receive alert transaction to RapidSMS service provider" level="INFO" doc:name="Logger"/>
        <custom-transformer class="org.jembi.heal.DoNothingTransformer" doc:name="Off-ramp Transformer"/>
        <message-properties-transformer doc:name="Set Path Property">
            <add-message-property key="path" value="#[groovy: return message.payload.buildUrlWithRequestParams();]"/>
        </message-properties-transformer>
        <expression-transformer evaluator="groovy" expression="return message.payload.body;" doc:name="Transfor HTTPRestfulMessage to HTTP Body"/>
        <message-properties-transformer doc:name="Add authentication">
            <add-message-property key="Authorization" value="${rapidsm.auth}"/>
        </message-properties-transformer>
        <response>
            <logger message="Recieved responce from rapidsms service provider." level="INFO" doc:name="Logger"/>
            <custom-transformer class="org.jembi.rhea.transformers.HttpResponseToRestfulHttpResponseTransformer" doc:name="HttpResponseToRestfulHttpResponseTransformer"/>
            <logger message="Responce normalization" level="INFO" doc:name="Logger"/>
            <custom-transformer class="org.jembi.heal.DoNothingTransformer" doc:name="On-ramp Transformer"/>
            <custom-transformer class="org.jembi.heal.DoNothingTransformer" doc:name="Translation Transformer"/>
        </response>
        <http:outbound-endpoint exchange-pattern="request-response" host="${rapidsms.host}" port="${rapidsms.port}" path="#[header:OUTBOUND:path]" doc:name="Deliver message to RapidSMS service provider"/>
    </flow>
</mule>
