src/main/app/saveencounters-rapidsmsalertsservice.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd ">
    <flow name="saveEncounters-rapidSMSAlertsServiceFlow1" doc:name="saveEncounters-rapidSMSAlertsServiceFlow1">
        <vm:inbound-endpoint exchange-pattern="request-response" path="saveEncounters-rapidSMSAlertsService" doc:name="Encounter Queue"/>
        <http:outbound-endpoint exchange-pattern="request-response" host="${rapidsms.alerts.host}" port="${rapidsms.alerts.port}" path="#[header:OUTBOUND:path]" doc:name="HTTP"/>
    </flow>
</mule>
