src/main/app/saveencounter-orchestration.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="CE-3.2.1" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd ">
    <flow name="mediation-orchestration-saveencountersFlow" doc:name="mediation-orchestration-saveencountersFlow">
        <vm:inbound-endpoint exchange-pattern="request-response" path="saveEncountersOrchestrationQueue" responseTimeout="10000" mimeType="text/plain" doc:name="Read from queue"/>
        <logger message="Orchestrating a save encounters transaction" level="INFO" doc:name="Logger"/>
        <message-properties-transformer scope="session" doc:name="Store current payload">
            <add-message-property key="original_payload" value="#[groovy: return message.payload;]"/>
        </message-properties-transformer>
        <component class="org.jembi.rhea.orchestration.SaveEncounterORU_R01ValidatorAndEnricher" doc:name="Validate and Enrich ORU_R01"/>
        <component class="org.jembi.rhea.orchestration.RHEAORU_R01TerminologyValidator" doc:name="Validate Terminology"/>
        <response>
            <logger message="Responce orchestration" level="INFO" doc:name="Logger"/>
            <custom-transformer class="org.jembi.heal.DoNothingTransformer" doc:name="Java"/>
        </response>
        <vm:outbound-endpoint exchange-pattern="request-response" path="saveEncountersDe-NormalizationQueue" responseTimeout="10000" mimeType="text/plain" doc:name="Send to saveEncountersDe-NormalizationQueue"/>
    </flow>
</mule>
