src/main/app/saveencounters-rapidsmsalertsservice.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.3.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd ">
    <flow name="saveEncounters-rapidSMSAlertsServiceFlow1" doc:name="saveEncounters-rapidSMSAlertsServiceFlow1">
        <vm:inbound-endpoint exchange-pattern="request-response" path="saveEncounters-rapidSMSAlertsService" doc:name="Encounter Queue"/>
        <custom-transformer class="org.jembi.rhea.transformers.OpenMRSSHROfframpTransformer" doc:name="Off-ramp Transformer"/>
        <message-properties-transformer doc:name="Set Path Property">
            <add-message-property key="path" value="#[groovy: return message.payload.buildUrlWithRequestParams();]"/>
        </message-properties-transformer>
        <expression-transformer evaluator="groovy" expression="return message.payload.body;" doc:name="Transfer HTTPRestfulMessage to HTTP Body"/>
        <logger message="RSMS path: #[header:OUTBOUND:path]" level="INFO" doc:name="Logger"/>
        <http:outbound-endpoint exchange-pattern="request-response" host="${rapidsms.alerts.host}" port="${rapidsms.alerts.port}" path="#[header:OUTBOUND:path]" doc:name="HTTP"/>
    </flow>
</mule>
