src/main/app/savepatient-orchestration.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="CE-3.2.1" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd ">
    <flow name="mediation-orchestration-savepatientFlow" doc:name="mediation-orchestration-savepatientFlow">
        <vm:inbound-endpoint exchange-pattern="request-response" path="savePatientOrchestrationQueue" responseTimeout="10000" mimeType="text/plain" doc:name="Read from queue"/>
        <logger message="Orchestrating a save patient transaction" level="INFO" doc:name="Logger"/>
        <custom-transformer class="org.jembi.heal.DoNothingTransformer" doc:name="Java"/>
        <message-properties-transformer scope="session" doc:name="Store original msg">
            <add-message-property key="origMsg" value="#[groovy: return message.payload.getBody();]"/>
        </message-properties-transformer>
        <response>
            <logger message="Responce orchestration" level="INFO" doc:name="Logger"/>
        </response>
        <vm:outbound-endpoint exchange-pattern="request-response" path="savePatientDe-NormalizationQueue" responseTimeout="10000" mimeType="text/plain" doc:name="Send to queryPatientDemographicsDe-NormalizationQueue"/>
        <choice doc:name="Choice">
            <when expression="message.payload.getHttpStatus() == 409" evaluator="groovy">
                <processor-chain>
                    <custom-transformer class="org.jembi.rhea.transformers.StripConflictIdsTransformer" doc:name="Java"/>
                    <vm:outbound-endpoint exchange-pattern="request-response" path="savePatientDe-NormalizationQueue" responseTimeout="10000" mimeType="text/plain" doc:name="Send to queryPatientDemographicsDe-NormalizationQueue"/>
                </processor-chain>
            </when>
            <otherwise>
                <processor-chain>
                    <logger message="Patient saved successfully!" level="INFO" doc:name="Logger"/>
                </processor-chain>
            </otherwise>
        </choice>
    </flow>
</mule>
