src/main/app/savepatient-orchestration.xml
<?xml version="1.0" encoding="UTF-8"?>
<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="CE-3.4.0" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">
    <flow name="mediation-orchestration-savepatientFlow" doc:name="mediation-orchestration-savepatientFlow">
        <vm:inbound-endpoint exchange-pattern="request-response" path="savePatientOrchestrationQueue" responseTimeout="10000" mimeType="text/plain" doc:name="Read from queue"/>
        <logger message="Orchestrating a save patient transaction" level="INFO" doc:name="Logger"/>
        <component doc:name="Validate HL7 message">
            <singleton-object class="org.jembi.rhea.orchestration.HL7MessageTypeValidator">
                <property key="hl7MessageType" value="ADT_A05"/>
            </singleton-object>
        </component>
        <message-properties-transformer scope="session" doc:name="Store original msg">
            <add-message-property key="origMsg" value="#[groovy: return message.payload.getBody();]"/>
        </message-properties-transformer>
        <response>
            <logger message="Responce orchestration" level="INFO" doc:name="Logger"/>
        </response>
        <vm:outbound-endpoint exchange-pattern="request-response" path="savePatientDe-NormalizationQueue" responseTimeout="10000" mimeType="text/plain" doc:name="Send to queryPatientDemographicsDe-NormalizationQueue"/>
        <choice doc:name="Choice">
            <when expression="message.payload.getHttpStatus() == 409" evaluator="groovy">
                <processor-chain doc:name="Processor Chain">
                    <custom-transformer class="org.jembi.rhea.transformers.StripConflictIdsTransformer" doc:name="Java"/>
                    <vm:outbound-endpoint exchange-pattern="request-response" path="savePatientDe-NormalizationQueue" responseTimeout="10000" mimeType="text/plain" doc:name="Send to queryPatientDemographicsDe-NormalizationQueue"/>
                </processor-chain>
            </when>
            <otherwise>
                <processor-chain doc:name="Processor Chain">
                    <logger message="Patient saved successfully!" level="INFO" doc:name="Logger"/>
                </processor-chain>
            </otherwise>
        </choice>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <scripting:component doc:name="Groovy">
                <scripting:script engine="Groovy"><![CDATA[//org.jembi.rhea.RestfulHttpRequest req = message.getPayload();
org.jembi.rhea.RestfulHttpResponse res = new org.jembi.rhea.RestfulHttpResponse();
//res.setOriginalRequest(req);
res.setUuid(message.getProperty("uuid", org.mule.api.transport.PropertyScope.SESSION));
res.setHttpStatus(400);
res.setBody("An exception occured while orchestrating the save encounter message");

message = res;

return res;]]></scripting:script>
            </scripting:component>
        </catch-exception-strategy>
    </flow>
</mule>
