src/main/app/updatepatient-denormalization-openempi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="CE-3.2.1" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd ">
    <flow name="mediation-denormalization-updatepatient-openempiFlow" doc:name="mediation-denormalization-updatepatient-openempiFlow">
        <vm:inbound-endpoint exchange-pattern="request-response" path="updatePatient-De-normailization-OpenEMPI" responseTimeout="10000" mimeType="text/plain" doc:name="Read from queue"/>
        <logger message="De-normalizing a update patient transaction to OpenEMPI" level="INFO" doc:name="Logger"/>
        <custom-transformer class="org.jembi.rhea.transformers.ADT_A28ToOpenEMPIUpdatePatientTransformer" doc:name="Off-ramp transformer"/>
        <message-properties-transformer doc:name="Message Properties">
            <add-message-property key="OPENEMPI_SESSION_KEY" value="6EC7C83CAD160FF2DA850676812A7A4C"/>
        </message-properties-transformer>
        <logger message="Body: [groovy: return message.payload.getBody()]" level="INFO" doc:name="Logger"/>
        <response>
            <logger message="Recieved responce from OpenEMPI: #[groovy: message.toString();]]" level="INFO" doc:name="Logger"/>
            <custom-transformer class="org.jembi.rhea.transformers.HttpResponseToRestfulHttpResponseTransformer" doc:name="HttpResponseToRestfulHttpResponseTransformer"/>
            <logger message="Responce normalization" level="INFO" doc:name="Logger"/>
            <scripting:component doc:name="On-ramp transformer">
                <scripting:script engine="Groovy">
                    <scripting:text><![CDATA[if (message.payload.httpStatus == 204) {
	message.payload.body = '';
	message.payload.httpStatus = 200;
}
return message;]]></scripting:text>
                </scripting:script>
            </scripting:component>
            <custom-transformer class="org.jembi.heal.DoNothingTransformer" doc:name="Translation Transformer"/>
        </response>
        <http:outbound-endpoint exchange-pattern="request-response" host="cr.jembi.org" port="8080" path="openempi/openempi-ws-rest/person-manager-resource/updatePerson" method="PUT" mimeType="text/xml" doc:name="Deliver message to mock service provider"/>
    </flow>
</mule>
