src/main/app/validatefacility-denormalization-resourcemap.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="CE-3.2.1" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd ">
	<context:property-placeholder xmlns:context="http://www.springframework.org/schema/context" location="classpath:HIM-core.properties, classpath:HIM-core-override.properties"></context:property-placeholder>
    <flow name="validatetfacility-denormalization-resourcemapFlow1" doc:name="validatetfacility-denormalization-resourcemapFlow1">
        <vm:inbound-endpoint exchange-pattern="request-response" path="validateFacility-resourcemap" responseTimeout="10000" mimeType="text/plain" doc:name="VM"/>
        <logger message="In validateFacility de-normalization for resource map" level="INFO" doc:name="Logger"/>
        <echo-component doc:name="Echo"/>
        <response>
        	<logger message="Responce recieved from resource map: #[groovy: message.toString();]" level="INFO" doc:name="Logger"/>
            <mulexml:xslt-transformer maxIdleTransformers="2" maxActiveTransformers="5" xsl-file="xslt/ResMap-rss-to-rhea-custom.xsl" doc:name="XSLT"/>
            <echo-component doc:name="Echo"/>
            <choice doc:name="Choice">
                <when expression="message.getPayloadAsString().contains('&lt;facilityReport&gt;')" evaluator="groovy">
                    <processor-chain>
                        <message-properties-transformer doc:name="Set transaction success">
                            <add-message-property key="success" value="true"/>
                        </message-properties-transformer>
                    </processor-chain>
                </when>
                <otherwise>
                    <processor-chain>
                        <message-properties-transformer doc:name="Set transaction success">
                            <add-message-property key="success" value="false"/>
                        </message-properties-transformer>
                    </processor-chain>
                </otherwise>
            </choice>
            <logger message="Exitting validateFacility de-normalization for resource map" level="INFO" doc:name="Logger"/>
            <echo-component doc:name="Echo"/>
        </response>
        <message-properties-transformer doc:name="Message Properties">
            <add-message-property key="Authorization" value="${fr.auth}"/>
        </message-properties-transformer>
        <http:outbound-endpoint exchange-pattern="request-response" host="${fr.host}" port="${fr.port}" path="api/collections/26.rss?fosaid=#[groovy: return message.payload]" method="GET" doc:name="HTTP"/>
    </flow>
</mule>
