src/main/app/src/main/app/mediation-normalization.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="CE-3.2.1" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd ">
    <flow name="MediationFlow" doc:name="MediationFlow">
        <vm:inbound-endpoint exchange-pattern="request-response" path="normalizationQueue" responseTimeout="10000" mimeType="text/plain" doc:name="Read queue"/>
        <logger message="Transaction path: #[groovy: message.getInboundProperty('http.request.path');]" level="INFO" doc:name="Logger"/>
        <choice doc:name="Choice">
            <when expression="message.payload.url.contains('ws/rest/v1/facilities')" evaluator="groovy">
                <processor-chain>
                    <logger message="Transaction type: query facilities" level="INFO" doc:name="Log query facilities"/>
                    <flow-ref name="QueryFacilitiesFlow" doc:name="Send to QueryFacilitiesFlow"/>
                </processor-chain>
            </when>
            <when expression="message.payload.url.contains('ws/rest/v1/facility/')" evaluator="groovy">
                <processor-chain>
                    <logger message="Transaction type: get facility" level="INFO" doc:name="Log get facility"/>
                    <flow-ref name="GetFacilityFlow" doc:name="Send to GetFacilityFlow"/>
                </processor-chain>
            </when>
            <otherwise>
                <processor-chain>
                    <logger message="Could not route message" level="ERROR" doc:name="Error Logged"/>
                    <vm:outbound-endpoint exchange-pattern="one-way" path="error" responseTimeout="10000" mimeType="text/plain" doc:name="Error Queue"/>
                </processor-chain>
            </otherwise>
        </choice>
    </flow>
    <flow name="QueryFacilitiesFlow" doc:name="QueryFacilitiesFlow">
        <choice doc:name="Choice">
            <when expression="message.getInboundProperty('X-SENDING-APP').equals('OpenMRS')" evaluator="groovy">
                <processor-chain>
                    <logger message="This is an OpenMRS specific transaction" level="INFO" doc:name="Log OpenMRS specific transaction"/>
                    <logger message="Unimplemented Operation" level="ERROR" doc:name="Unimplemented Operation"/>
                </processor-chain>
            </when>
            <when expression="message.getInboundProperty('X-SENDING-APP').equals('RapidSMS')" evaluator="groovy">
                <processor-chain>
                    <logger message="This is an RapidSMS specific transaction" level="INFO" doc:name="Log RapidSMS specific transcation"/>
                    <logger message="Unimplemented Operation" level="INFO" doc:name="Unimplemented Operation"/>
                </processor-chain>
            </when>
            <otherwise>
                <processor-chain>
                    <logger message="This is a generic  transaction" level="INFO" doc:name="Log generic transaction"/>
                    <vm:outbound-endpoint exchange-pattern="request-response" path="queryFacilities-Generic-NormalizationQueue" responseTimeout="10000" mimeType="text/plain" doc:name="Send to queryFacilities-Generic-NormalizationQueue"/>
                </processor-chain>
            </otherwise>
        </choice>
    </flow>
    <flow name="GetFacilityFlow" doc:name="GetFacilityFlow">
        <choice doc:name="Choice">
            <when expression="message.getInboundProperty('X-SENDING-APP').equals('OpenMRS')" evaluator="groovy">
                <processor-chain>
                    <logger message="This is an OpenMRS specific transaction" level="INFO" doc:name="Log OpenMRS specific transaction"/>
                    <logger message="Unimplemented Operation" level="INFO" doc:name="Unimplemented Operation"/>
                </processor-chain>
            </when>
            <when expression="message.getInboundProperty('X-SENDING-APP').equals('RapidSMS')" evaluator="groovy">
                <processor-chain>
                    <logger message="This is an RapidSMS specific transaction" level="INFO" doc:name="Log RapidSMS specific transcation"/>
                    <logger message="Unimplemented Operation" level="INFO" doc:name="Unimplemented Operation"/>
                </processor-chain>
            </when>
            <otherwise>
                <processor-chain>
                    <logger message="This is a generic  transaction" level="INFO" doc:name="Log generic transaction"/>
                    <vm:outbound-endpoint exchange-pattern="request-response" path="getFacility-Generic-NormalizationQueue" responseTimeout="10000" mimeType="text/plain" doc:name="Send to getFacility-Generic-NormalizationQueue"/>
                </processor-chain>
            </otherwise>
        </choice>
    </flow>
</mule>
